

# Run after running commit.py!

# Create patches to copyfiles.bat for QMS builds with gisinternals package
# Create built_routino_add.bat for compiling routino
# Create some other files

# Location of this script: typically `scripts` subdirectory

# Run on x64 Native tools command prompt: "cmake -DUSERDIR=myscripts -DUSERCFG=QMSUser_Test.cfg -PCopyFilesGis.cfg"
# -D parameters are optional and used to separate user-dependent from constant confiruation parts
#     -DUSERDIR:  relative path to user configuration file and newly generated files - sibling of path to this script. Must exist!
#     -DUSERCFG: filename with user configuration (without path)

# Example: d:\QtProjects\QMS\QMS4Qt6\msvc_64\scripts\>cmake -DUSERDIR=scripts_qms694 -DUSERCFG=QMSUser_test.cfg -PCopyFilesGis.cfg

#                                                     cmake -DUSERDIR=scripts_qt6    -DUSERCFG=QMSUser_qt6.cfg  -PCopyFilesGis.cfg

cmake_policy(SET CMP0007 NEW)
cmake_policy(SET CMP0011 NEW)
cmake_policy(SET CMP0159 NEW)


set(PKG QMS)

if(NOT DEFINED USERCFG)
    set(USERCFG "QMSUser.cfg")
endif()    

if(NOT DEFINED USERDIR)
    set(USERDIR scripts)
endif()

set(CMAKE_N "\n")
set(BSL \\ )
set(SL / )

message(NOTICE "Using basic user build settings for package ${PKG}.")

# get basic QMS build info
include("../${USERDIR}/${USERCFG}" OPTIONAL)

message(NOTICE "Loaded basic QMS user configuration file ../${USERDIR}/${USERCFG}.")

file(REMOVE ./QMSUserCfg.dir)
file(APPEND ./QMSUserCfg.dir "UserCfgDir:..\\${USERDIR}")


#message(NOTICE "Loaded basic QMS user configuration. ${USERDIR}")

set(OUTF   ../${USERDIR}/CopyFilesGis_add.bat)
set(OUTFR  ../${USERDIR}/built_routino_add.bat)
set(OUTFN  ../${USERDIR}/QMS_gisinternals_add.nsi)
set(OUTFRH ../${USERDIR}/QMS_Resources.h)

set(OUTFQM ../${USERDIR}/built_qms_add.bat)
set(OUTFQU ../${USERDIR}/built_quazip_add.bat)

set(OUTFGB ../${USERDIR}/built_gpsbabel_add.bat)

message(NOTICE "Output files created:${CMAKE_N}  ${OUTF}${CMAKE_N}  ${OUTFR}${CMAKE_N}  ${OUTFN}")
message(NOTICE "  ${OUTFRH}${CMAKE_N}  ${OUTFQM}${CMAKE_N}  ${OUTFQU}${CMAKE_N}  ${OUTFGB}${CMAKE_N}  ./QMSUserCfg.dir")

# read commit info for further use
file(STRINGS QMSCommit.log myinfo REGEX "(Hash:)[ ]+([a-z0-9]+).+(Branches with same commit:)[^']+'([^']+)'" NEWLINE_CONSUME)

string(SUBSTRING ${CMAKE_MATCH_2} 0 7 commit0)
string(CONCAT COMMIT "Used commit: ${commit0} of fork/branch: ${CMAKE_MATCH_4}")

message(NOTICE "${COMMIT}")       
       
file(COPY QMSCommit.log DESTINATION ../${USERDIR})       
file(REMOVE QMSCommit.log)  
  
# https://cmake.org/cmake/help/latest/command/string.html     
# https://cmake.org/cmake/help/latest/command/file.html

file(REMOVE ${OUTF})
file(APPEND ${OUTF}  ${CMAKE_N} "rem Environment variable replacements created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFR})
file(APPEND ${OUTFR} ${CMAKE_N} "rem Environment variable replacements created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFN})
file(APPEND ${OUTFN} ${CMAKE_N} "# Environment variable replacements created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFRH})
file(APPEND ${OUTFRH} ${CMAKE_N} "//QMS resource file created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFQM})
file(APPEND ${OUTFQM} ${CMAKE_N} "rem QMS Build configuration created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFQU})
file(APPEND ${OUTFQU} ${CMAKE_N} "rem QuaZIP Build configuration created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

file(REMOVE ${OUTFGB})
file(APPEND ${OUTFGB} ${CMAKE_N} "rem GPSBabel Build configuration created with CopyFilesGis.cfg using QMSUser.cfg" ${CMAKE_N}${CMAKE_N})

set(REDIST $ENV{VCToolsRedistDir})

# adjust environment to gisinternals package config
set(VARS

"set QMSI_QMS_PATH=${QMSDIR}"
"set QMSI_GIS_PATH=${QMSDIR}/gisinternals/${GISINTERNALS_VER}_${GISDATE}/release-${GISINTERNALS_VER}-x64"

"set QMSI_QT_PATH=\"${QTBASE}/${QT${QT}_VER}/msvc${QT_MSVC64_VER}\""
"set QMSI_VCREDIST_PATH=\"${REDIST}\""
"set QMSI_ROUT_PATH=\"${QMSDIR}\\routino/routino-${ROUTINO_VER}\\install\""
"set QMSI_MYSQL_PATH=\"${QMSDIR}\\mysql\\${QT_VER}\\sqldrivers\""

# DLLs from here are necessary for planetsplitter.exe
"set QMSI_MGW6_PATH=\"${MSYS2_DIR}\\ucrt64\\bin\""
"set QMSI_QUAZIP_PATH=\"${QMSDIR}/quazip/quazip-${QUAZIP_VER}/install\""
"set QMSI_BUILD_PATH=\"${QMSDIR}\\${QMSSRC}\\build\""
"set QMSI_SRC_PATH=\"${QMSDIR}\\${QMSSRC}\\src\""
"set QT=${QT}"
)

# adjusted copy statements added to copyfiles.bat
set(VARSX

" "
"cd ..\\Files"
"mkdir data"
"pause"
"xcopy %QMSI_GIS_PATH%\\bin\\gdal-data data /s /i"
"if '${GISDATE}' LSS '241207' ("
"    copy  %QMSI_GIS_PATH%\\bin\\proj_${PROJ_VER}_${PROJ_SUBVER}.dll"
") else ("
"    copy  %QMSI_GIS_PATH%\\bin\\proj_${PROJ_VER}.dll"
")"
"xcopy %QMSI_GIS_PATH%\\bin\\*.dll /I /EXCLUDE:..\\gisexclude.txt"

##################### not yet copied - might be missing! Needs additional entry in basic config!
# d:\QtProjects\QMS\lzma\xz-5.4.0\install\bin\liblzma.dll

"mkdir gdalplugins"
"xcopy %QMSI_GIS_PATH%\\bin\\gdal\\plugins gdalplugins /s /i /EXCLUDE:..\\gisexclude.txt"

"copy %QMSI_GIS_PATH%\\bin\\curl-ca-bundle.crt"
"copy %QMSI_GIS_PATH%\\bin\\gdal\\apps\\*.exe"
"copy %QMSI_GIS_PATH%\\bin\\proj${PROJ_VER}\\apps\\*.exe"
"copy %QMSI_GIS_PATH%\\bin\\curl.exe"
"copy %QMSI_GIS_PATH%\\bin\\openssl.exe"
"copy %QMSI_GIS_PATH%\\bin\\sqlite3.exe"
"copy %QMSI_GIS_PATH%\\..\\license.txt GisInternals_license.txt"
"xcopy %QMSI_QMS_PATH%\\mysql\\${QT_VER}\\sqldrivers\\qsqlmysql.dll .\\sqldrivers\\ /i" 

"mkdir share\\proj"

#################### needs more files from original folder, possibly from proj-data-1.11.tar.gz, too.
"xcopy %QMSI_GIS_PATH%\\bin\\proj${PROJ_VER}\\share share\\proj /s /i"

)

# routino replacements:
set(VARSR

"set ROUT_SRC_PATH=\"${QMSDIR}\\routino\\routino-${ROUTINO_VER}\""
"set ROUT_PKG_PATH=\"${QMSDIR}\\routino\\routino-${ROUTINO_VER}\\install\""

"set PATH=${MSYS2_DIR}\\ucrt64\\bin\;%PATH%"
)


set(VARSN

"# Program version"

"!define VERSION \"${QMS_VER}.${QMS_SUBVER}\""
"!define SUBVERSION \"${QMS_VER}.${QMS_SUBVER}.${QMS_SUBSUBVER}\""

"!define EXEFILE \"${EXEFILE}\""

)

# QMS resource definitions

#message(NOTICE "Loaded basic QMS user configuration. ${QMS_VER}")
string(SUBSTRING ${QMS_VER} 0 1 QMSV0)
string(SUBSTRING ${QMS_VER} 2 2 QMSV1)

set(VARSRH

"1 VERSIONINFO" 
"FILEVERSION ${QMSV0},${QMSV1},${QMS_SUBVER},${QMS_SUBSUBVER}" 
"PRODUCTVERSION ${QMSV0},${QMSV1},${QMS_SUBVER},0" 
"FILEOS 0x4" 
"FILETYPE 0x1" 
"{" 
"BLOCK \"StringFileInfo\"" 
"{"
"	BLOCK \"040904E4\""
"	{"
"		VALUE \"CompanyName\", \"\""
"		VALUE \"FileDescription\", QMS_UP+\" (Compiled with GISInternals. ${COMMIT}.)\""
"		VALUE \"FileVersion\", \"${QMS_VER}.${QMS_SUBVER}.${QMS_SUBSUBVER}\""
"		VALUE \"InternalName\", QMS"
"		VALUE \"LegalCopyright\", \"Copyright (c) 2023, Oliver Eichler <oliver.eichler@gmx.de>\""
"		VALUE \"OriginalFilename\", QMS +\".exe\""
"		VALUE \"ProductName\", \"QMapShack\""
"		VALUE \"ProductVersion\", \"${QMS_VER}.${QMS_SUBVER}.${QMS_SUBSUBVER}\""
"		VALUE \"Comments\", \"Compiled with GISInternals. ${COMMIT}\""
"		VALUE \"SpecialBuild\", \"Compiled with GISInternals. ${COMMIT}\""
"	}"
"}"

"BLOCK \"VarFileInfo\""
"{"
"	VALUE \"Translation\", 0x0409 0x04E4"
"}"
"}"

)


# QMS build configuration directories
set(VARSQM
"rem qms"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\""
"set builddir=\"${QMSDIR}\\${QMSSRC}\\build\""
"set usercfg=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\\${USERCFG}\""
)

# QuaZip build configuration directories
set(VARSQU
"rem quazip"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\""
"set builddir=\"${QMSDIR}\\quazip\\quazip-${QUAZIP_VER}\\build\""
"set usercfg=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\\${USERCFG}\""
)

# GPSBABEL build configuration directories
set(VARSGB
"rem GPSBabel"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\""
"set usercfg=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\${USERDIR}\\${USERCFG}\""
)

foreach(X ${VARS})
    string(REPLACE ${SL} ${BSL} H ${X})
    file(APPEND ${OUTF} "${H}" ${CMAKE_N})
endforeach()



set(VARIABLE_LISTS
    VARSX    ${OUTF}
    VARSR    ${OUTFR}
    VARSN    ${OUTFN}
    VARSRH   ${OUTFRH}
    VARSQM   ${OUTFQM}
    VARSQU   ${OUTFQU}
    VARSGB   ${OUTFGB}
)

list(LENGTH VARIABLE_LISTS _len)
math(EXPR _max "${_len} - 1")

foreach(i RANGE 0 ${_max} 2)

    #message(NOTICE "abc ${i}")
    math(EXPR j "${i} + 1")  # Get the next index
    #message(NOTICE "cde ${j}")

    list(GET VARIABLE_LISTS ${i} var_name)
    list(GET VARIABLE_LISTS ${j} out_file)

    foreach(X ${${var_name}})
        file(APPEND ${out_file} "${X}" ${CMAKE_N})
    endforeach()

endforeach()




message(NOTICE "End of run.${CMAKE_N}")