
# Purpose of script:

#    * Load user-specific and derived and general settings files
#    * Inform about repo state
#    * Prepare auxiliary files for build and deploy process

# Commandline (to be used in x64 Native Command Prompt for VS):

# cmake -DUSERSETTINGS=QMSUserSettings.cfg -DSETTINGS=QMSSettings.cfg -PPrepareSetup.cfg

#    Parameters:
#        * USERSETTINGS: filename of user settings (located in  msvc_64/script)
#        * SETTINGS:     filename of general and derived (located in  msvc_64/script)
#        * -P:           name of this script

#    Start in msvc_64\scripts directory

# Assumptions:
#    * Use latest CMake to have support of all used CMake features

# Initialization ------------------------------------------------------

set(CMAKE_N "\n")
set(BSL \\ )
set(SL / )

find_package(Git REQUIRED)

# get current working directory = msvc_64/scripts
message(STATUS "Source/scripts directory: ${CMAKE_CURRENT_SOURCE_DIR}")

cmake_path(ABSOLUTE_PATH USERSETTINGS
    BASE_DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}"
    NORMALIZE
    OUTPUT_VARIABLE my_abs_path
)
cmake_path(GET my_abs_path PARENT_PATH USERDIR)

message(STATUS "User directory          : ${USERDIR}")

cmake_path(GET USERSETTINGS FILENAME USERCFG)
 
message(STATUS "Loading user and general settings ...\n")
include(${USERSETTINGS})
include(${SETTINGS})

# Macro definitions ---------------------------------------------------

macro(collect_by_prefix out_list prefix)

    # Make sure output list starts empty
    set(${out_list})

    # Get all variables in current scope
    get_cmake_property(_all_vars VARIABLES)

    foreach(var IN LISTS _all_vars)
        if(var MATCHES "^${prefix}")
            list(APPEND ${out_list} ${var})
        endif()
    endforeach()

endmacro()

macro(run_git_commands command_list)
    foreach(cmd_var IN LISTS ${command_list})

        # Expand the command list variable
        set(cmd_list ${${cmd_var}})

        # First element = output variable
        list(GET cmd_list 0 output_var)
        list(REMOVE_AT cmd_list 0)

        # Execute git
        run_git(${output_var} ${cmd_list})

    endforeach()
endmacro()

macro(run_git_group prefix)

    # Collect all variables in current scope
    collect_by_prefix(GIT_COMMANDS "${prefix}")    

    foreach(cmd_var IN LISTS GIT_COMMANDS)

        # Expand the command list
        set(cmd_list ${${cmd_var}})

        # First element = output variable
        list(GET cmd_list 0 output_var)
        list(REMOVE_AT cmd_list 0)

        run_git(${output_var} ${cmd_list})

    endforeach()
endmacro()

# Function definitions ------------------------------------------------

function(write_file_with_header FILENAME HEADER_LINE)
    file(WRITE "${FILENAME}" "${HEADER_LINE}\n")

    foreach(LINE IN LISTS ARGN)
        file(APPEND "${FILENAME}" "${LINE}\n")
    endforeach()
endfunction()

# ---------------------------------------------------------------------

function(run_git0 CMD_VAR OUTPUT_VAR)
    # CMD_VAR is the name of the list variable
    # message(STATUS "Running git command: ${${CMD_VAR}}")

    execute_process(
        COMMAND "${GIT_EXECUTABLE}" ${${CMD_VAR}}
        WORKING_DIRECTORY ${CMAKE_SOURCE_DIR}
        OUTPUT_VARIABLE RAW_OUTPUT
        ERROR_QUIET
        OUTPUT_STRIP_TRAILING_WHITESPACE
    )

    set(${OUTPUT_VAR} "${RAW_OUTPUT}" PARENT_SCOPE)
endfunction()

set(MY_CMD branch --show-current)
run_git0(MY_CMD GIT_COMMIT_INFO)
#message(STATUS "Local branch0: ${GIT_COMMIT_INFO}\n")

# ---------------------------------------------------------------------

function(run_git output_var)
    execute_process(
        COMMAND git ${ARGN}
        OUTPUT_VARIABLE result
        OUTPUT_STRIP_TRAILING_WHITESPACE
        ERROR_VARIABLE error_output
        RESULT_VARIABLE rc
    )
    if(NOT rc EQUAL 0)
        message(FATAL_ERROR "Git command failed: git ${ARGN}\n${error_output}")
    endif()
    set(${output_var} "${result}" PARENT_SCOPE)
endfunction()

set(CMD_LOCAL_BRANCH1 LOCAL_BRANCH1 branch --show-current)
run_git(${CMD_LOCAL_BRANCH1})
#message(STATUS "Local branch: ${LOCAL_BRANCH1}\n")

# Collect repo info ---------------------------------------------------

# Each command is a proper list: first element = output var, rest = git args
set(CMD_BRANCH_LOCAL  BRANCH_LOCAL  branch --show-current)
set(CMD_BRANCH_REMOTE BRANCH_REMOTE rev-parse --abbrev-ref --symbolic-full-name @{u})
set(CMD_URL_REMOTE    URL_REMOTE    remote get-url wthaem)
# set(CMD_ANCESTOR      ANCESTOR      merge-base dev_build maproom/dev)
set(CMD_HEAD_HASH     HEAD_HASH     rev-parse --short HEAD)
set(CMD_DESCRIBE      DESCRIBE      describe --tags --dirty --always)

set(CMD_UNTRACKED     UNTRACKED     ls-files --others --exclude-standard)
set(CMD_STAGED        STAGED        diff --staged --name-only)
set(CMD_UNSTAGED      UNSTAGED      diff --name-only)
#set(CMD_INFO          INFO          show -s --format=%H%x1f%an%x1f%ae%x1f%aI%x1f%s ${ANCESTOR})
# author, title, date


# Get all variable names defined in this scope
get_cmake_property(all_vars VARIABLES)

run_git_group("CMD_")

set(REPO "maproom")

if (BRANCH_LOCAL MATCHES "^dev")
    #message(STATUS dev_branch!!!!)
    set(REMOTE "dev")
    
elseif(BRANCH_LOCAL MATCHES "^master_")
    set(REMOTE "master")
else()
    set(REMOTE "OTHER")    
    set(REPO "kiozen")
endif()


set(CMDY_ANCESTOR      ANCESTORX      merge-base ${BRANCH_LOCAL} ${REPO}/${REMOTE})

get_cmake_property(all_vars VARIABLES)

run_git_group("CMDY_")

set(CMDX_URL_REMOTE    URL_REMOTEX    remote get-url ${REPO})



#set(CMDX_INFO          INFO          show -s --format=%H%x1f%an%x1f%ae%x1f%aI%x1f%s ${ANCESTORX})
set(CMDX_AUTHOR        AUTHOR        show -s --format=%an ${ANCESTORX})
set(CMDX_TITLE         TITLE         show -s --format=%s ${ANCESTORX})
set(CMDX_DATE          DATE          show -s --format=%aI ${ANCESTORX})

get_cmake_property(all_vars VARIABLES)

run_git_group("CMDX_")

# Access outputs outside loop
message(STATUS "Used QMS version nr.: ${QMS_VERX}")
message(STATUS "Local branch:         ${BRANCH_LOCAL}")
message(STATUS "Remote branch:        ${BRANCH_REMOTE}")
message(STATUS "Remote URL of fork:   ${URL_REMOTE}")
message(STATUS "Remote URL:           ${URL_REMOTEX}")
#message(STATUS "Common ancestor:    ${ANCESTOR}")
message(STATUS "Common ancestor:      ${ANCESTORX}")

message(STATUS "HEAD hash:            ${HEAD_HASH}")
message(STATUS "Git describe:         ${DESCRIBE}")

message(STATUS "Author:               ${AUTHOR}")
message(STATUS "Title:                ${TITLE}")
message(STATUS "Date:                 ${DATE}")

message(STATUS " ")
message(STATUS "Untracked:            ${UNTRACKED}")
message(STATUS " ")
message(STATUS "Staged:               ${STAGED}")
message(STATUS " ")
message(STATUS "Unstaged&modified:    ${UNSTAGED}")
message(STATUS " ")

string(SUBSTRING ${ANCESTORX} 0 7 commit0)


set(COMMIT "Used commit: ${commit0} of repo branch ${REPO}<SLSH>${REMOTE}")


# Contents of generated files -----------------------------------------

message(STATUS "Generating additional files in ${USERDIR}.")


message(STATUS "Redistribution directory: ${REDIST}")
message(STATUS "Generator-dependent build path: ${BUILD_PATH}")


# -------------------------
# External lists

# -------------------------
# adjust environment to gisinternals package config

# -------------------------
# adjusted copy statements added to copyfiles.bat
set(VARSX

"set QMSI_QMS_PATH=${QMSDIR}"
"set QMSI_GIS_PATH=${QMSDIR}/gisinternals/${GISINTERNALS_VER}_${GISDATE}/release-${GISINTERNALS_VER}-x64"

"set QMSI_QT_PATH=\"${QT_DEV_PATH}\""
"set QMSI_VCREDIST_PATH=\"${REDIST}\""
"set QMSI_ROUT_PATH=\"${QMSDIR}\\routino/routino-${ROUTINO_VER}\\install\""
"set QMSI_MYSQL_PATH=\"${QMSDIR}\\mysql\\${QT_VER}\""

# DLLs from here are necessary for planetsplitter.exe
"set QMSI_MGW6_PATH=\"${MSYS2_DIR}\\ucrt64\\bin\""
"set QMSI_QUAZIP_PATH=\"${QMSDIR}/quazip/quazip-${QUAZIP_VER}/install\""

"set QMSI_BUILD_PATH=${BUILD_PATH}"
"set QMSI_SRC_PATH=\"${QMSDIR}\\${QMSSRC}\\src\""
"set QT=${QT}"

" "
"cd ..\\Files"
"mkdir data"
"pause"
"xcopy %QMSI_GIS_PATH%\\bin\\gdal-data data /s /i"
"if '${GISDATE}' LSS '241207' ("
"    copy  %QMSI_GIS_PATH%\\bin\\proj_${PROJ_VER}_${PROJ_SUBVER}.dll"
") else ("
"    copy  %QMSI_GIS_PATH%\\bin\\proj_${PROJ_VER}.dll"
")"
"xcopy %QMSI_GIS_PATH%\\bin\\*.dll /I /EXCLUDE:..\\gisexclude.txt"

##################### not yet copied - might be missing! Needs additional entry in basic config!
# d:\QtProjects\QMS\lzma\xz-5.4.0\install\bin\liblzma.dll

"mkdir gdalplugins"
"xcopy %QMSI_GIS_PATH%\\bin\\gdal\\plugins gdalplugins /s /i /EXCLUDE:..\\gisexclude.txt"

"copy %QMSI_GIS_PATH%\\bin\\curl-ca-bundle.crt"
"copy %QMSI_GIS_PATH%\\bin\\gdal\\apps\\*.exe"
"copy %QMSI_GIS_PATH%\\bin\\proj${PROJ_VER}\\apps\\*.exe"
"copy %QMSI_GIS_PATH%\\bin\\curl.exe"
"copy %QMSI_GIS_PATH%\\bin\\openssl.exe"
"copy %QMSI_GIS_PATH%\\bin\\sqlite3.exe"
"copy %QMSI_GIS_PATH%\\..\\license.txt GisInternals_license.txt"
"xcopy %QMSI_QMS_PATH%\\mysql\\${QT_VER}\\sqldrivers\\qsqlmysql.dll .\\sqldrivers\\ /i" 

"mkdir share\\proj"

#################### needs more files from original folder, possibly from proj-data-1.11.tar.gz, too.
"xcopy %QMSI_GIS_PATH%\\bin\\proj${PROJ_VER}\\share share\\proj /s /i"

)


# -------------------------
# routino replacements:
set(VARSR

"set ROUT_SRC_PATH=\"${QMSDIR}\\routino\\routino-${ROUTINO_VER}\""
"set ROUT_PKG_PATH=\"${QMSDIR}\\routino\\routino-${ROUTINO_VER}\\install\""

"set PATH=${MSYS2_DIR}\\ucrt64\\bin<SEMICOLON>%PATH%"
#"${concatstr}"

)

# -------------------------
set(VARSN

#"# Program version"

"!define VERSION \"${QMS_VER_SHORT}\""
"!define SUBVERSION \"${QMS_VERX}\""

"!define EXEFILE \"${EXEFILE}\""

)

# QMS resource definitions

string(REPLACE "." "," H "${QMS_VERX}")

# -------------------------
set(VARSRH

"1 VERSIONINFO" 
"FILEVERSION ${H}" 
"PRODUCTVERSION ${H}" 
"FILEOS 0x4" 
"FILETYPE 0x1" 
"{" 
"BLOCK \"StringFileInfo\"" 
"{"
"	BLOCK \"040904E4\""
"	{"
"		VALUE \"CompanyName\", \"\""
"		VALUE \"FileDescription\", QMS_UP+\" (Compiled with GISInternals. ${COMMIT}.)\""
"		VALUE \"FileVersion\", \"${QMS_VERX}\""
"		VALUE \"InternalName\", QMS"
"		VALUE \"LegalCopyright\", \"Copyright (c) 2026, Oliver Eichler <oliver.eichler@gmx.de>\""
"		VALUE \"OriginalFilename\", QMS +\".exe\""
"		VALUE \"ProductName\", \"QMapShack\""
"		VALUE \"ProductVersion\", \"${QMS_VERX}\""
"		VALUE \"Comments\", \"Compiled with GISInternals. ${COMMIT}\""
"		VALUE \"SpecialBuild\", \"Compiled with GISInternals. ${COMMIT}\""
"	}"
"}"

"BLOCK \"VarFileInfo\""
"{"
"	VALUE \"Translation\", 0x0409 0x04E4"
"}"
"}"

)

# -------------------------
# QMS build configuration directories
set(VARSQM
#"rem qms"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${USERDIR}\""
"set builddir=${BUILD_PATH_QMS}"
"set usercfg=\"${USERDIR}\\${USERCFG}\""
"set msvc_generator=${MSVC_GENERATOR}"
)

# -------------------------
# QuaZip build configuration directories
set(VARSQU
#"rem quazip"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${USERDIR}\""
"set builddir=${BUILD_PATH_QUAZIP}"
"set usercfg=\"${USERDIR}\\${USERCFG}\""
"set msvc_generator=${MSVC_GENERATOR}"
)

# -------------------------
# GPSBABEL build configuration directories
set(VARSGB
# "rem GPSBabel"
"set scriptsdir=\"${QMSDIR}\\${QMSSRC}\\msvc_64\\scripts\""
"set usrscriptsdir=\"${USERDIR}\""
"set usercfg=\"${USERDIR}\\${USERCFG}\""
"set msvc_generator=${MSVC_GENERATOR}"
)

# Get current datetime in ISO 8601 format (UTC)
string(TIMESTAMP CURRENT_ISO "%Y-%m-%dT%H:%M:%SZ" UTC)

#message(STATUS "Current ISO datetime (UTC): ${CURRENT_ISO}")

set(VARSLOG
"Logfile created:             ${CURRENT_ISO} with PrepareSetup.cfg"
" "
"QMS script directory:        ${CMAKE_CURRENT_SOURCE_DIR}"
"QMS basis version:           ${QMS_VER_SHORT}"
"Current local branch:        ${BRANCH_LOCAL}"

" "
"Info about last commit on compilation branch:"
"  Common ancestor:           ${commit0}" 
"  Used original branch:      ${REPO}<SLSH>${REMOTE}"
"  Author:                    ${AUTHOR}"
"  Date:                      ${DATE}"
"  Title:                     ${TITLE}"
)

set(CREATOR "created with PrepareSetup.cfg${CMAKE_N}${CMAKE_N}")

# -------------------------
# Define triples (filename, header, list-variable-name)

set(TRIPLE_OUTF
    "CopyFilesGis_add.bat"
    "rem Environment variable replacements for copy step"
    VARSX
)

set(TRIPLE_OUTFR
    "built_routino_add.bat"
    "rem Routino environment variable replacements "
    VARSR
)

set(TRIPLE_OUTFN
    "QMS_gisinternals_add.nsi"
    "# QMS installer environment variable replacements"
    VARSN
)

set(TRIPLE_OUTFRH
    "QMS_Resources.h"
    "//QMS resource file"
    VARSRH
)

set(TRIPLE_OUTFQM
    "built_qms_add.bat"
    "rem QMS Build configuration"
    VARSQM
)

set(TRIPLE_OUTFQU
    "built_quazip_add.bat"
    "rem QuaZIP Build configuration"
    VARSQU
)

set(TRIPLE_OUTFGB
    "built_gpsbabel_add.bat"
    "rem GPSBabel Build configuration"
    VARSGB
)

set(TRIPLE_OUTFLOG
    "QMSCommit.log"
    "Commit log"
    VARSLOG
)

# -------------------------
# Master list of triples - Collect all defined variables
collect_by_prefix(ALL_TRIPLES "TRIPLE_")

# -------------------------
# Process all triples

foreach(triple_var IN LISTS ALL_TRIPLES)

    # Expand triple definition
    set(triple ${${triple_var}})

    # Extract components
    list(GET triple 0 filename)
    list(GET triple 1 header)
    list(GET triple 2 list_var_name)

    # Write header
    file(WRITE "${USERDIR}/${filename}" "${header} ${CREATOR}")

    # Append list elements
    foreach(item IN LISTS ${list_var_name})
        set(H "${item}")
        string(REPLACE " /" "<SLASH>" H "${H}")
        string(REPLACE "${SL}" "${BSL}" H "${H}")
        string(REPLACE "<SLASH>" " /" H "${H}")
        string(REPLACE "<SLSH>" "/" H "${H}")
        string(REPLACE "<SEMICOLON>" ";" H "${H}")    
           
        file(APPEND "${USERDIR}/${filename}" "${H}\n")
    endforeach()

endforeach()


message(STATUS "End of run.${CMAKE_N}")

# quotes vs. no quotes


# write commit info to file commit.log

# which files are still required: QMSUserCfg.dir

set(BASE_DIR "/home/user/project")
set(ABS_PATH "/home/user/other/file.cpp")

#file(RELATIVE_PATH REL_PATH "${BASE_DIR}" "${ABS_PATH}")

#message("Relative path: ${REL_PATH}")

#Relative path: ../other/file.cpp

# Get current datetime in ISO 8601 format (UTC)
string(TIMESTAMP CURRENT_ISO "%Y-%m-%dT%H:%M:%SZ" UTC)

#message(STATUS "Current ISO datetime (UTC): ${CURRENT_ISO}")

# script-driven Build run, not VS Studio GUI based

# 1. Overview of directory hierarchy, scripts and used files
# 1. Install software dependencies
    # 1. If necessary, update software versions directly used in QMS: Qt, gisinternals, quazip, routino, (brouter), mysql, java
    # 1. Tools used in the build process: msys2, MSVC, git, nsis, resourcehacker, python (papermill, markdown, jupyterlab), dependencies, sigcheck, editor with utf-8 support
# 1. Update user configuration in QMSUserSettings.cfg
    # 2. Run PrepareSetup.cfg to update all additional files
# 2. Clean and update repo   
    # 1. Checkout dev_build branch    
    # 3. Push dev_build to remote to have clean local branch
    # 4. Merge maproom/dev or other branch
# 3. Build software    
    # 5. Run Routino build
    # 5. Run Build.bat to build QuaZip and QMS
# 4. Deploy QMS
    # 1. copy files
    # 1. add resource info
    # 1. build installer    