
# User settings for QMS and QuaZip compilation and deployment -------

set(QMSDIR               "d:/QtProjects/QMS" CACHE PATH   "Basis location of all used packages" FORCE)
set(QMS_VERX             "1.20.0.2"          CACHE STRING "Complete QMS version string"         FORCE)
set(QMSSRC               "QMS4Qt6"           CACHE STRING "Location of local QMS repo relative to QMSDIR" FORCE)
set(GISINTERNALS_VER     "1944"              CACHE STRING "Used GISInternals version"           FORCE)
set(GISDATE              "260214"            CACHE STRING "GISInternals download date"          FORCE)
set(PROJ_VER0            "9.7.1"             CACHE STRING "Used proj version"                   FORCE)
set(QUAZIP_VER           "1.5"               CACHE STRING "Used QUAZIP version"                 FORCE)
set(ROUTINO_VER          "3.4.3"             CACHE STRING "Used ROUTINO version"                FORCE)
set(MSYS2_DIR            "c:/msys64"         CACHE PATH   "MSYS2 installation directory"        FORCE)
set(QT_DEV_PATH          "c:/Qt/6.10.0/msvc2022_64"             CACHE PATH   "Qt installation path"  FORCE)
set(MSVC_GENERATOR      "-G \"Visual Studio 18 2026\" -A x64"  CACHE STRING "VS build generator"    FORCE)
#set(MSVC_GENERATOR       "-G Ninja  -DCMAKE_BUILD_TYPE=Release" CACHE STRING "Ninja build generator" FORCE)

# End of user settings ------------------------------------------------
