# User settings for QMS and QuaZip compilation and deployment ---------

set(QMSDIR               "d:\\QtProjects\\QMS" CACHE STRING "basis location of all packages" FORCE)

set(QMS_VERX             "1.20.0.0"          CACHE STRING "QMS complete version - MSVC 2026" FORCE)

set(QMSSRC               "QMS4Qt6"           CACHE STRING "location of local repo copy relative to QMSDIR"                FORCE)
set(EXEFILE              "${QMS_VERX}"       CACHE STRING "Installer EXE name part (QMapShack-<EXEFILE>_x64_setup.exe)"   FORCE)
#set(EXEFILE              "Test"             CACHE STRING "Installer EXE name part (QMapShack-<EXEFILE>_x64_setup.exe)"   FORCE)

#set(GISINTERNALS_VER     "1930"              CACHE STRING "used GISInternals version"      FORCE)
#set(GISDATE              "260118"            CACHE STRING "GISInternals download date"     FORCE)
set(GISINTERNALS_VER     "1944"              CACHE STRING "used GISInternals version"      FORCE)
set(GISDATE              "260214"            CACHE STRING "GISInternals download date"     FORCE)

# where from and where used????
set(PROJ_VER0            "9.7.1"             CACHE STRING "used proj version"              FORCE)

set(QUAZIP_VER           "1.5"               CACHE STRING "used QUAZIP version"            FORCE)

set(ROUTINO_VER          "3.4.3"             CACHE STRING "used ROUTINO version"           FORCE)

set(QTBASE               "c:/Qt"             CACHE STRING "Qt installation base path"      FORCE)

set(QT_VER               "6.9.2"             CACHE STRING "used Qt version"                FORCE)

set(QT_MSVC64_VER        "2022_64"           CACHE STRING "used MSVC version in Qt"        FORCE)

set(MSYS2_DIR            "c:/msys64"         CACHE STRING "MSYS2 installation directory"   FORCE)

#set(MSVC_GENERATOR      "-G \"Visual Studio 18 2026\" -A x64"    CACHE STRING "VS build generator"    FORCE)
set(MSVC_GENERATOR       "-G Ninja  -DCMAKE_BUILD_TYPE=Release"   CACHE STRING "Ninja build generator" FORCE)


# End of user settings ----------------------------------------------

# Derived values for further use ------------------------------------

string(REGEX MATCHALL "[0-9]+" QMS_VER_LIST ${QMS_VERX})
list(GET QMS_VER_LIST 0 QMS_VERA)
list(GET QMS_VER_LIST 1 QMS_VERB)
list(GET QMS_VER_LIST 2 QMS_SUBVER)
list(GET QMS_VER_LIST 3 QMS_SUBSUBVER)

string(SUBSTRING ${PROJ_VER0} 2 1 PROJ_SUBVER0)
string(SUBSTRING ${PROJ_VER0} 0 1 PROJ_VER0)
set(PROJ_VER      ${PROJ_VER0}               CACHE STRING "proj major version"             FORCE)  
set(PROJ_SUBVER   ${PROJ_SUBVER0}            CACHE STRING "proj minor version"             FORCE)  

set(QMS_VER "${QMS_VERA}.${QMS_VERB}"        CACHE STRING "QMS main version"               FORCE)

string(SUBSTRING ${QT_VER} 0 1 QT)
set(QT${QT}_VER      ${QT_VER}               CACHE STRING "used Qtx version"               FORCE)

string(REGEX MATCH "[0-9]+" MSVC_YEAR $ENV{VSINSTALLDIR})

set(MSVC_VER         $ENV{VCTOOLSVERSION}    CACHE STRING "MSVC version"                   FORCE)