# User settings for QMS and QuaZip compilation and deployment ---------

set(QMSDIR               "d:/QtProjects/QMS" CACHE STRING "basis location of all packages" FORCE)
set(QMS_VER               "1.17"             CACHE STRING "QMS main version"               FORCE)
set(QMS_SUBVER            "1"                CACHE STRING "QMS subversion"                 FORCE)
set(QMS_SUBSUBVER         "0"                CACHE STRING "QMS patch version"              FORCE)

set(QMSSRC               "QMapShack" CACHE STRING "location of local repo copy" FORCE)
set(EXEFILE              "${QMS_VER}.${QMS_SUBVER}.${QMS_SUBSUBVER}" CACHE STRING "Installer EXE name part (QMapShack-<EXEFILE>_x64_setup.exe)" FORCE)
#set(EXEFILE              "Test" CACHE STRING "Installer EXE name part (QMapShack-<EXEFILE>_x64_setup.exe)" FORCE)

set(GISINTERNALS_VER     "1930"              CACHE STRING "used GISInternals version"      FORCE)
set(GISDATE              "231126"            CACHE STRING "GISInternals download date"     FORCE)

set(PROJ_VER             "9"                 CACHE STRING "used proj main version"         FORCE)
set(PROJ_SUBVER          "3"                 CACHE STRING "used proj minor version"        FORCE)

set(QUAZIP_VER           "1.4"      CACHE STRING "used QUAZIP version"       FORCE)

set(ROUTINO_VER          "3.4.1"             CACHE STRING "used ROUTINO version"           FORCE)

set(QTBASE               "d:/Qt/5.12.3" CACHE STRING "used gisinternals version" FORCE)
set(QT5_VER              "5.15.2"   CACHE STRING "used Qt5 version"          FORCE)
set(QT_MSVC64_VER        "2019_64"  CACHE STRING "used MSVC version in Qt"   FORCE)

set(MSYS2_DIR            "D:/msys64"         CACHE STRING "MSYS2 installation directory"   FORCE)

set(MSVC_YEAR            "2022"              CACHE STRING "MSVC vear"                      FORCE)
set(MSVC_VER             "14.38.33130"       CACHE STRING "MSVC version"                   FORCE)

# End of user settings ----------------------------------------------

